.accordion {
	.card {
		border-color: #e4e4e4;
		margin-bottom: 7px;
	}

	.card-header {
		display: block;
		padding: 0;
		border: 0;

		h5 {
			font-size: 15px;
			margin: 0;
			display: block;

			a {
				padding: 15px 20px;
				display: block;
				border-bottom: 1px solid #efefef;

				&:focus,
				&:hover {
					color: inherit;
				}

				&.collapsed {
					border: 0;
				}
			}
		}
	}

	.card-body {
		font-size: 14px;
	}
}

.accordion-collapsed {
	.card {
		margin: 0;
		border-radius: 0;
		border-color: #e4e4e4;
		border-bottom: 0;
		border-top-color: #efefef;

		&:first-child {
			border-top-color: #e4e4e4;
		}

		&:last-child {
			border-bottom: 1px solid #e4e4e4;
		}
	}
}

.accordion-icon {
	.card-header {
		h5 a {
			&:before {
				content: "\f068";
				font-family: "FontAwesome";
				font-size: 12px;
				margin-right: 8px;
			}

			&.collapsed:before {
				content: "\f067";
			}
		}
	}
}

.accordion-icon-custom {
	.card-header {
		h5 a {
			&:before {
				content: "\f00d";
				font-family: "FontAwesome";
				font-size: 12px;
				margin-right: 8px;
			}

			&.collapsed:before {
				content: "\f00c";
			}
		}
	}
}

.accordion-transparent {
	.card {
		background-color: transparent;
		margin: 0;
		border-width: 0 0 1px 0;
		border-color: #e6e6e6;
		border-radius: 0;
		box-shadow: none;

		&:last-child {
			border-bottom: 0;
		}
	}

	.card-body {
		padding: 10px 0 25px 0;
	}

	.card-header h5 a {
		padding: 15px 0;
		border-bottom-width: 0px;
		border-color: #e6e6e6;
	}
}
