.widget {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }

  .widget-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 0 8px 15px;
    border-left: 3px solid $theme-primary;
    color: #424242;
    margin-bottom: 15px;
    cursor: pointer;

    &.active {
      background: #2575dc;
      color: white;
    }

    i {
      font-size: 15px;
    }

    span {
      font-weight: 300;
    }
  }

  img {
    width: 100%;
  }
}

.widget-post {
  > a {
    display: block;
  }

  img {
    margin-bottom: 15px;
  }

  h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
  }

  span {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    display: inline-block;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .widget-list {
    margin-top: 15px;

    li {
      display: table;
      width: 100%;
      padding: 12px 0;
      border-top: 1px solid #e8e8e8;

      &:last-child {
        padding-bottom: 0;
      }

      > div {
        display: table-cell;
        vertical-align:top;

        &.widget-img {
          width: 100px;
        }

        &:last-child {
          padding-left: 13px;
        }

        img {
          margin: 0;
        }

        h4 {
          font-size: 15px;
          line-height: 17px;
          margin: 0;
        }

        span {
          font-size: 13px;
          margin: 0;
        }
      }
    }
  }
}

.widget-gallery {
  ul {
    li {
      margin-bottom: 5px;

      a {
        overflow: hidden;
        display: block;

        img {
          transition: .25s ease-in-out;
          transform: scale(1);
        }

        &:hover img {
          transform: scale(1.12);
        }
      }
    }
  }
}

.widget-video {
  .widget-img {
    position: relative;
    margin-bottom: 15px;

    span {
      position: absolute;
      bottom: 15px;
      right: 15px;
      left: auto;
      display: inline-block;
      background-color: rgba(25,25,25,0.9);
      border-radius: 3px;
      font-size: 12px;
      padding: 2px 7px;
      color: #fff;

      &:after {
        display: none;
      }
    }

    .video-play-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      z-index: 3;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;

      i  {
        background-color: #242629;
        display: inline-block;
        color: #fff;
        font-size: 20px;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        transition: .1s ease-in-out;
        border-radius: 50%;

        &:hover {
          color: #fff;
          background-color: #dc2745;
          box-shadow: 0 1px 25px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
  }

  span {
    margin-top: 3px;
    font-size: 14px;
    display: inline-block;

    i {
      margin-right: 3px;
    }

    &:after {
      color: #9c9c9c;
      content: "\002022";
      margin: 0 3px 0 8px;
      display: inline-block;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 0;
  }
}

.widget-comments {
  h4 {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
    color: #636363;
  }

  span {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 14px;
    display: inline-block;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  li {
    display: table;
    padding: 15px 0px;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;

    &:last-child {
      border: 0;
    }

    > div {
      display: table-cell;
      vertical-align: top;

      &:first-child {
        width: 34px;

        img {
          margin-top: 5px;
          border-radius: 50%;
        }
      }

      &:last-child {
        padding-left: 15px;
      }

      img {
        margin: 0;
      }

      a {
        font-size: 14px;
        line-height: 18px;
        margin: 0;

        b {
          font-weight: 500;
          color: #696969;
        }

        &:hover {
          color: #696969;
        }
      }

      span {
        font-size: 13px;
        margin: 10px 0 0 0;
        display: block;

        i {
          margin-right: 3px;
        }
      }
    }
  }
}

.widget-tabs {
  .nav-tabs {
    padding-left: 5px;
  }

  .widget-post .widget-list > li {
    padding: 13px 0px;

    &:first-child {
      border-top: 0;
      padding-top: 5px;
    }

    span {
      margin-top: 3px;
      font-size: 14px;
      display: inline-block;

      i {
        margin-right: 3px;
      }

      &:after {
        color: #9c9c9c;
        content: "\002022";
        margin: 0 3px 0 8px;
        display: inline-block;
      }

      &:last-child:after {
        display: none;
      }
    }

    h4 {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

.widget-list {
  ul {
    li {
      a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid #efefef;
        font-size: 14px;
      }

      &:first-child {
        a {
          padding-top: 5px;
        }
      }

      &:last-child {
        a {
          border: 0;
        }
      }
    }
  }
}

.widget-game {
  .widget-block {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      height: 100%;
      background: linear-gradient(to bottom, rgba(37,37,37, 0.77) 0%, #252525 100%);
    }

    .widget-item {
      position: relative;
      z-index: 3;
      padding: 35px;
      color: #d0d0d0;

      h4 {
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 3px;
        color: #fff;
      }

      h5 {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 10px;
        margin-top: 30px;
      }

      .meta {
        font-size: 14px;
      }

      .badge {
        margin-right: 5px;
      }

      ul {
        li {
          display: block;
          font-size: 14px;

          a {
            color: #d0d0d0;

            &:hover {
              text-decoration: underline;
              color: #fff;
            }
          }
        }
      }

      p {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
}

.widget-games {
  a {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100px;
    width: 100%;
    padding: 25px 20px;
    position: relative;

    &:hover .overlay {
      opacity: .80;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #232323 0%, #232323 26%,rgba(37,37,37, 0.30) 100%);
      transition: .2s ease-in-out;
    }

    .widget-block {
      position: relative;
      z-index: 3;
      display: table;
      width: 100%;
      height: 100%;

      .count {
        display: table-cell;
        vertical-align: middle;
        font-weight: 700;
        float: left;
        font-size: 27px;
        color: rgba(255,255,255, .5);
      }

      .description {
        display: table-cell;
        vertical-align: middle;
        padding-left: 14px;
        text-align: left;
        width: 95%;
      }

      h5 {
        line-height: 22px;
        color: #fff;
        margin-bottom: 0;
        margin-top: -5px;
      }

      .date {
        font-weight: 500;
        font-size: 14px;
        color: rgba(255,255,255, .5);
      }
    }
  }
}

.widget-videos {
  .widget-list {
    li {
      margin-bottom: 20px;
    }

    h4 {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  > .widget-block {
    padding-bottom: 25px;
  }

  span {
    margin-top: 3px;
    font-size: 14px;
    display: inline-block;

    i {
      margin-right: 3px;
    }

    &:after {
      color: #9c9c9c;
      content: "\002022";
      margin: 0 3px 0 8px;
      display: inline-block;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .widget-img {
    margin-bottom: 15px;
    position: relative;

    &:hover {
      &:after {
        width: 100%;
      }
    }

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 3px;
      z-index: 3;
      background: red;
      transition: .2s ease-in-out;
    }

    span {
      position: absolute;
      bottom: 10px;
      right: 10px;
      left: auto;
      display: inline-block;
      background-color: rgba(25,25,25,0.9);
      border-radius: 3px;
      font-size: 12px;
      padding: 2px 7px;
      color: #fff;
    }
  }
}

.widget-share {
  .widget-block {
    margin-top: 2px;

    a {
      margin-bottom: 5px;
      margin-left: 3px;
    }

    span {
      background-color: #fff;
      border: 1px solid #e0e0e0;
      padding: 7px 8px;
      margin-bottom: 10px;
      position: relative;
      display: inline-block;

      &:after,
      &:before {
        top: 100%;
	      left: 18px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
      }

      &:after {
        border-top-color: #fff;
        border-width: 5px;
        margin-left: -5px;
      }

      &:before {
        border-top-color: #e6e6e6;
        border-width: 7px;
        margin-left: -7px;
      }
    }
  }
}

.widget-newsletter {
  .widget-block {
    padding: 60px 40px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .7;
      z-index: 2;
      background-color: #2d2d2d;
    }

    form {
      position: relative;
      z-index: 3;

      .form-control {
        background-color: rgba(255, 255, 255, .1);
        border-color: rgba(255, 255, 255, .1);
        color: #fff;

        &:active,
        &:focus {
          color: #fff;
        }

        &::-webkit-input-placeholder {
          color: rgba(255, 255, 255, .8);
        }
      }

      p {
        color: rgba(255, 255, 255, 1);
        line-height: 20px;
        padding: 0 0 20px 0;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}

.widget-tags {
  .post-tags a {
    margin-bottom: 5px;
  }
}

.widget-about {
  margin-top: 40px;

  p {
    font-size: 15px;
  }

  ul {
    li {
      font-size: 14px;
      margin-bottom: 5px;

      i {
        width: 20px;
        margin-right: 3px;
        text-align: center;
      }
    }
  }
}

.widget-friends {
  ul {
    @include clearfix;
    margin: 0 -2px;

    li {
      width: 25%;
      float: left;
      padding: 0 2px;
      margin-bottom: 3px;
    }
  }

  a {
    display: block;
  }

  img {
    border-radius: 3px;
  }
}

.widget-forums {
  ul {
    li {
      border-bottom: 1px solid #e8e8e8;
      padding: 12px 10px;
      display: table;
      width: 100%;

      &:nth-child(even) {
        background-color: #f5f5f5;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      > div {
        vertical-align: top;
        display: table-cell;
      }

      .forum-icon {
        width: 30px;

        i {
          color: #636363;
          font-size: 18px;
        }
      }

      .forum-title {
        h5 {
          font-size: 14px;
          margin-bottom: 0;
        }

        span {
          font-size: 13px;

          i {
            margin-right: 3px;
          }
        }
      }
    }
  }
}

.widget-images {
  ul {
    margin: 0 -2px;
    @include clearfix;

    li {
      width: 33.33333%;
      float: left;
      padding: 0 2px;
      margin-bottom: 5px;
    }
  }

  img {
    border-radius: 6px;
  }
}

